@import 'https://fonts.googleapis.com/css?family=Poppins:500,700';
$font-size-primary: 13px;
$font-family-primary: Poppins, Helvetica, Arial, sans-serif;
$font-weight-primary: 500;
$font-color-primary: white;
$font-color-secondary: black;
$font-color-hover-primary: #FF4A52;